html {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}

body {
    height: 100%;
    width: 100%;
    background-color: #2C3E50;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
}

.main {
    height: 100%;
    width: 100%;
}

.container {
    height: 90%;
    width: 50%;
    background-color: #2980B9;
    margin: 0 auto;
    box-shadow: 3px 3px 3px #A5C6F7;

}

.container1 {
    height: 60%;
    width: 65%;
    background-color: #3498DB;
    margin: 30px auto;
    box-shadow: 2px 2px 2px #2C3E50;
    padding-bottom: 4%;
}

h1 {
    font-size: 200%;
    font-family: 'Chelsea Market', cursive;
    font-weight: bold;
    color: #2C3E50;
}

.page-header {
    width: 80%;
    margin: 2% auto;
}

h4 {
    font-family: 'Chelsea Market', cursive;
    padding-top: 4%;
    color: #2C3E50;
}

hr {
    width: 60%;
}

.form1 {
    height: 60%;
    width: 80%;
    font-family: 'Chelsea Market', cursive;
    margin: 0 auto;
    margin-top: 5px;
    font-size: 18px;
    font-color: #2C3E50;
}

.locate {
    height: 25px;
    width: 70%;
    margin: 15px 15% auto;
    text-align: center;
    border: 0;
    background-color: transparent;
    outline: 0;
    border-bottom: 1.5px solid #8EB6F9;
    transition: .3s all ease;
}

.locate:focus {
    border-bottom: 2.5px solid #2980B9;
    transition: .3s all ease;
}

.container2 {
    height: 60%;
    width: 65%;
    background-color: #3498DB;
    margin: 30px auto;
    box-shadow: 2px 2px 2px #2C3E50;
    margin-top: -12px;
    padding-bottom: 5%;
    padding-bottom: 120px;
}

.left {
    float: left;
    height: 20%;
    width: 43%;
    margin: 5px 5px auto;
    text-align: center;
}

.right {
    float: right;
    height: 20%;
    width: 43%;
    margin: 5px 5px auto;
    text-align: center;
}

h5 {
    font-family: 'Chelsea Market', cursive;
    color: #2C3E50;
}

.button {
    border: none;
    background: transparent;
    line-height: 1;
    cursor: pointer;
    padding: .75em .5em;
    color: #fff;
    border: 1px solid;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
    display: block;
    text-align: center;
    margin: 0 auto;
    border-radius: 4px;
    margin-top: 18px;
    margin-top: 30px;
}

.btn-primary {
    background: #2980B9;
    border-color: #2980B9;
    font-family: 'Chelsea Market', cursive;
}

.btn-primary:hover {
    background-color: #286090;
    border-color: #2C3E50;
}

.btn-primary:focus,
.btn-primary:active {
    background: #00a8e0;
}

.form-control {
    width: 50px;
    border-radius: 0;
    border: 1px solid #2980B9;
    color: #2980B9;
    text-align: left;
    padding-left: 1px;
    background-color: #3498DB;
    margin-top: -48px;
}


span{
	font-family: 'Chelsea Market', cursive;
	text-align: center;
	margin: 0 auto;
}